{% extends "main/base.html" %}

{% block content %}

    <div class="d-flex flex-column justify-content-between vh-100">

        <div class="row align-items-start mb-5">
            <h1 class="col text-center">Contacts</h1>
        </div>

        <div class="row align-items-end ">
            <ul class="col text-center list-unstyled" >
                <li>
                    <a href="/discover" class="btn custom-btn mx-3">Discover</a>
                    <a href="/contacts" class="btn custom-btn mx-3">Contacts</a>
                    <a href="/profile" class="btn custom-btn mx-3">Profile</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock content %}