{% extends "main/base.html" %}
{% block content %}

    <div class="">
        <h1 class="mb-5 d-flex justify-content-center">Discover</h1>

        <div>
            <form action="{ url 'like_user' reciver.pk}" method="POST">
                {% csrf_token %}
                <button type="submit" name="reciver_id" value="{{ user.id }}">Like</button>
            </form>
        </div>


        <div class="position-absolute bottom-0 start-50 translate-middle-x">
            <ul>
                <li class="list-unstyled">
                    <a href="/discover" class="btn custom-btn mx-3">Discover</a>
                    <a href="/contacts" class="btn custom-btn mx-3">Contacts</a>
                    <a href="/profile" class="btn custom-btn mx-3">Profile</a>
                </li>

            </ul>
        </div>
    </div>

{% endblock content %}