{% extends "main/base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="d-flex flex-column justify-content-evenly min-vh-100">
            <div class="text-center">
                <h1 class="text-dark">Gamer Meet</h1>
            </div>
            <div class="d-grid gap-2 col-3 mx-auto">
                <a href="/login" class="btn custom-btn">Login</a>
                <a href="/register" class="btn custom-btn">Register</a>
            </div>
        </div>
    </div>

{% endblock %}