{% extends "main/base.html" %}
{% block content %}
    <div class="d-flex flex-column justify-content-between vh-100">

        <div>

            {% if user.isauthenticated %}
                <div class="position-relative"> 
                    <a href="/logout" class="btn custom-btn position-absolute top-0 start-0 mt-2" >Logout</a>
                    <a href="/settings" class="btn custom-btn position-absolute top-0 end-0 mt-2">Settings</a>
                </div>

                <div class="row align-items-start mb-5">
                    <h1 class="col text-center">Profile</h1>
                </div>
            {% else %}
                <div class="row align-items-start mb-5">
                    <h1 class="col text-center">Profile of your match</h1>
                </div>
            {% endif %}

            

            
        </div>
        
        <div class="col text-center align-items-center">
            <div class="row">
                <p><strong>First name:</strong> {{user_profile.first_name}}</p>
                <p><strong>Last name:</strong> {{user_profile.last_name}}</p>
                <p><strong>Age:</strong> {{user_profile.age}}</p>
                <p><strong>Favourite games:</strong> {{user_profile.fav_games}}</p>
                {% if user.isauthenticated %}
                    <a href="/edit_profile" class="text-decoration-none fw-bold fs-4 text-dark">Edit profile</a>
                {% endif %}
            </div>
        </div>

        <div class="row align-items-end ">
            <ul class="col text-center list-unstyled" >
                <li>
                    <a href="/discover" class="btn custom-btn mx-3">Discover</a>
                    <a href="/contacts" class="btn custom-btn mx-3">Contacts</a>
                    <a href="/profile" class="btn custom-btn mx-3">Profile</a>
                </li>
            </ul>
        </div>

    </div>
{% endblock content %}